*{
	margin:0;
	padding:0;
}

body{
	background-color:#222;
	font-size:100%;
}
		
.container{
	width:1200px;
	margin:auto;
	margin-top:20px;
	padding:10px;
}
		
nav{	
	margin-top:50px;
	width:270px;
	height:520px;
	background-color:#444;
	float:left;
	box-sizing:border-box;
	padding:10px;
}
		
section{
	margin-top:50px;
	padding:10px;
	width:900px;
	height:500px;
	margin-left:10px;
	float:left;
	background-color:#fff;
	overflow:scroll;	
}
	
.menu{
	list-style-type:none;
}

.menu li{
	width:250px;
	height:50px;
	line-height:50px;
	background-color:#777;
	margin-top:5px;
	box-sizing:border-box;
	padding-left:10px;
	-webkit-transition: background-color 1s ease-out;
	-moz-transition: background-color 1s ease-out;
	-o-transition: background-color 1s ease-out;
	transition: background-color 1s ease-out;
}

.menu a{
	font-weight:bold;
	text-decoration:none;
	color:#fff;
}

.menu li:hover{
	box-shadow: inset 0 2px 5px #fff, 0 2px 3px #666;
	font-style:italic;
	text-decoration:underline;
}
		
.menu li:active{
	position:relative;
	transition:none;
	box-shadow: inset 0 2px 5px red, 0 1px 3px #666 !important;
	top:2px;
}

span{
	border:1px solid #999;
	background-color:#999;
}
